<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Solarteur User bearbeiten</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/banneredit_style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/header_style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/footer_style.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<!-- Header und Navigation -->
<div th:replace="fragments/header-admin :: header"></div>

<!-- Hauptinhalt -->
<div class="page-content">
    <div class="container">
        <div th:if="${message}" class="alert" th:text="${message}"></div>

        <div class="container">

            <h2>User bearbeiten</h2>

            <form th:action="@{/admin/edituser}" th:object="${user}" method="post">

                <label>UserId:</label>
                <input th:field="*{id}" th:value="${user.id}">

                <label>Passwort:</label>
                <input th:field="*{password}" th:value="${user.password}">

                <label>Email:</label>
                <input type="email" th:field="*{email}" required>

                <label>Rolle:</label>
                <select th:field="*{role}">
                    <option value="USER">USER</option>
                    <option value="ADMIN">ADMIN</option>
                </select>

                <div class="button-group">
                    <button type="submit" class="submit">Speichern</button>
                    <a th:href="@{/admin/users}" class="delete" style="text-decoration:none; text-align:center; padding:10px 20px;">
                        Zurück
                    </a>
                </div>
            </form>

        </div>
    </div>
</div>

</body>
</html>
