<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Solarteur</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/header_style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/viewlogs_style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<!-- Header und Navigation -->
<div th:replace="fragments/header-admin :: header"></div>

<h1>Audit Logs</h1>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>User</th>
        <th>Action</th>
        <th>Timestamp</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="log : ${logs}">
        <td th:text="${log.id}"></td>
        <td th:text="${log.username}"></td>
        <td th:text="${log.action}"></td>
        <td th:text="${log.timestamp}"></td>
    </tr>
    </tbody>
</table>

<div class="pagination">
    <a th:if="${currentPage > 0}"
       th:href="@{|/admin/logs?page=${currentPage - 1}|}">« Prev</a>

    <span th:each="i : ${#numbers.sequence(0, totalPages - 1)}">
        <a th:href="@{|/admin/logs?page=${i}|}"
           th:text="${i + 1}"
           th:classappend="${i == currentPage} ? 'active'"></a>
    </span>

    <a th:if="${currentPage < totalPages - 1}"
       th:href="@{|/admin/logs?page=${currentPage + 1}|}">Next »</a>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
