<div th:fragment="header">

    <!-- Header und Navigation -->
    <header class="gr-header">
        <nav class="gr-nav">

            <!-- Logo -->
            <div class="gr-logo">
                <a th:href="@{/home}">
                    <img src="/images/logo/logo.png" alt="logo" class="logo" />
                </a>
            </div>

            <!-- Welcome + Balance -->
            <div class="gr-userbox">
                <!-- Welcome + Username -->
                <span th:text=>Welcome</span>
                <span th:text="${userName}">U0</span>
            </div>

            <!-- Rechts: Sprachwahl + Darkmode + Burger -->
            <div class="gr-right">

                <!-- Hamburger -->
                <div class="gr-burger" onclick="grToggleMenu()">☰</div>

                <!-- Menü -->
                <ul class="gr-menu" id="grMenu">
                    <li><a th:href="@{/}" th:text="Home">Home</a></li>
                    <li><a th:href="@{/admin/users}">Users</a></li>
                    <li><a th:href="@{/admin/banner}">Banners</a></li>
                    <li><a th:href="@{/sdmin/homecard}">HomeCards</a></li>
                   <!-- <li><a th:href="@{/sdmin/product}">Artikel</a></li> -->
                    <li><a th:href="@{/logout}">Logout</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <script>
        // Hamburger-Menü
        function grToggleMenu() {
            document.getElementById("grMenu").classList.toggle("gr-open");
        }

        // Darkmode beim Laden wiederherstellen
        if (localStorage.getItem("darkMode") === "true") {
            document.body.classList.add("dark");

            const toggle = document.getElementById("darkSwitch");
            if (toggle) {
                toggle.checked = true;
            }
        }

        // Darkmode toggeln
        function toggleDarkMode() {
            const isDark = document.body.classList.toggle("dark");
            localStorage.setItem("darkMode", isDark);
        }
    </script>
</div>
